.common-heading {
    padding-bottom: 100px;
    .common-heading__header {
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: 3em;
    }
    .common-heading__paragraph {
        text-align: center;
        color: #fff;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}